<!DOCTYPE html>
<html lang="en">
<head>
 
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
   <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</head>
<body>
<!-- navigation  starts   -->
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Esteam</a>
    </div>
    <div>
      
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#"><span class="Groups"></span> Groups</a></li>
         <li><a href="#"><span class="Events"></span> Events</a></li>
          <li><a href="#"><span class="About"></span> About </a></li>
        <li><a href="#"><span class="log-in"></span> Login</a></li>
      </ul>
    </div>
  </div>
</nav>

<!--Navigation ends here  --> 

<!--Section1 Show Groups -->
<h1> Create a Group</h1>

<br>
Group Name<br>
<input type="text" name="groupname" value="">
<br>

Description<br>
<textarea rows="4" cols="50" name="comment" form="usrform">
Enter text here...</textarea>
<br>

<button type="submit" value="Submit">Done</button>



	
<!-- Section2 footer -->
	<footer class="primary-footer container group">

	      <small>&copy; Styles Conference</small>
	      <ul>
			<li><a href="" class="icon facebook">Facebook</a></li>
			<li><a href="" class="icon twitter">Twitter</a></li>
			<li><a href="" class="icon googleplus">Google Plus</a></li>
		</ul>

	</footer>


</body>
</html>