<!DOCTYPE html>
<html lang="en">
<head>
 
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
   <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</head>
<body>
<!-- navigation  starts   -->
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Esteam</a>
    </div>
    <div>
      
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#"><span class="Groups"></span> Groups</a></li>
         <li><a href="#"><span class="Events"></span> Events</a></li>
          <li><a href="#"><span class="About"></span> About </a></li>
        <li><a href="#"><span class="log-in"></span> Login</a></li>
      </ul>
    </div>
  </div>
</nav>

<!--Navigation ends here  --> 
<!-- Group Info -->
<h1> Group Name </h1>  <!-- set background pic -->


<section class="row">
      <div class="grid">

        <!-- Group1 -->

        <section class="teaser col-1-2">
          <a href="#">
            
            <h3>Group Info</h3>
          </a>
          <p>What does this group do</p>
        </section>
        
        <!--Group2-->

        <section class="teaser col-1-2">
          <a href="#">
            
            <h3>Members</h3>
          </a>
          <p>Enjoy three inspiring and action-packed days of talks, gatherings, and all-around good times.</p>
        </section>
        </div>
    </section>

<!-- Group Info ends -->

<!-- Section3 footer -->
	<footer class="primary-footer container group">

	      <small>&copy; Styles Conference</small>
	      <ul>
			<li><a href="" class="icon facebook">Facebook</a></li>
			<li><a href="" class="icon twitter">Twitter</a></li>
			<li><a href="" class="icon googleplus">Google Plus</a></li>
		</ul>

	</footer>


</body>
</html>s