  <!DOCTYPE html>
<html lang="en">
<head>
  <title>Esteam - A Social Network</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../assets/stylesheets.css">
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</head>
<body>
<!-- navigation  starts   -->
 <header id="masthead" role="banner">
     <nav class="main-nav">                

      <h1 id="brand">Wally Wallerson!!!</h1>
      
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#"><span class="Groups"></span> Groups</a></li>
         <li><a href="#"><span class="Events"></span> Events</a></li>
          <li><a href="#"><span class="About"></span> About </a></li>
        <li><a href="#"><span class="log-in"></span> Login</a></li>
      </ul>
</nav>
</header>
    
    
<section id="hero">
    <!-- <img src="assets/images/header2.png" alt="" / role="banner image"> -->
            <h1>Building connections.<br>Building a community.</h1>
		</section>
    
<main id="main-content">
     <section>
         <article class="container">
        <div id="facebook"><img src="assets/images/computers.jpg"></div>
         <h2>Facebook is Awesome!</h2>
             <p>Log in with Facebook, in order to connect and share your group activity and create a community of talented women with the STEAM community.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
         <a class="btn btn-alt" href="register.html">log in</a>
        
         </article>
    </section>
    <section class="blurb"><h1>EXPLORE THE GROUPS</h1>
    <h3>Connect with passionate women in your area</h3>
</section>  
<section class="container2">
				<article class="column">
					<img src="assets/images/women3.jpeg" alt="Wally covered in snow at Mt. Baker" />
					<h4>The Powderhound</h4>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,</p>
				</article>
				<article class="column">
					<img src="assets/images/women2.jpeg" alt="Climbing a tree" />
					<h4>The Climber</h4>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,</p>

				</article>
				<article class="column">
					<img src="assets/images/women.jpg" alt="Wally in a red dog hiking pack" />
					<h4>The Scout</h4>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,</p>
			
				</article>
			</section>

      </div>
    </section>
      


      </div>
    </article>

        </main>
<!-- Section3 footer -->
	<footer class="footer">
	   <div class="footercontent">
        <h2>Join Us On</h2>
			<p>Facebook</p>
           </div>
        <p>&copy; Esteam Social Media</p>
	</footer>
</body>
</html>